@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div id="chat">
    <br>
    <div class="row">
        <div class="col-md-4">
            <form id="frm-send-message" action="#">
                <div class="form-group">
                    <label for="nick">Nick:</label>
                    <input type="text" id="nick" class="form-control">
                </div>
                <div class="form-group">
                    <label for="message">Message:</label>
                    <input type="text" id="message" class="form-control">
                </div>
                <button class="btn btn-primary" id="send">Send</button>
            </form>
        </div>
        <div class="col-md-8">
            <ul id="messages"></ul>
        </div>
    </div>
</div>

<script src="~/lib/signalr/signalr.min.js"></script>

<script>
    const connection = new signalR.HubConnectionBuilder()
        .withUrl("/chat")
        .build();
    
    connection.start().catch(error => console.log(error.toString()));

    connection.on("Send", (nick, message) => {
        appendLine(nick, message);
    });

    document.getElementById('frm-send-message').addEventListener('submit', event => {
        let message = $('#message').val();
        let nick = $('#nick').val();

        $('#message').val('');
    
        connection.invoke('Send', nick, message);   
        event.preventDefault();
    });

    function appendLine(nick, line, color) {
        let nickElement = document.createElement('strong');
        nickElement.innerText = `${nick}:`;

        let msgElement = document.createElement('em');
        msgElement.innerText = ` ${line}`;

        let li = document.createElement('li');
        li.appendChild(nickElement);
        li.appendChild(msgElement);

      $('#messages').append(li);
    };
</script>
